

.comment-div{
    margin: 20px;
    padding: 10px;
    border-left: 3px solid black;
    width: 100%;
}

.comment-user{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 11px;
    font-weight: 700;
}

.comment-user-text:hover{
    text-decoration: underline;
}

.comm-date{
    font-weight: 500;
    margin-left: 5px;
}

.comment-text{
    text-align: left;
    margin: 10px;
}

.comment-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.comment-options div{
    /* margin: 20px; */
}

.comment-vote-btn{
    display: flex;
}

.comment-vote-op{
    /* padding:0px 5px; */
    margin:0px 5px;
    font-size: 15px;
    
}

.comment-vote-selected{
    background-color:#DAE0E5;
    margin:0px 5px;
    font-size: 15px;
}

.comment-vote-op:hover{
    background-color: #DAE0E5;
}

.comm-option-btn{
    cursor: pointer;
    padding: 5px;
}

.comm-option-btn:hover{
    background-color: #DAE0E5;
}