.user-op-side{
    width: 70%;
    min-height: 110vh;
    height:100%;
}

.user-prof-ul{
    flex-direction: row;
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    border-bottom: 3px, solid #dee4ea;
    margin-bottom: 0px;
}

.user-prof-ul li{
    margin-right: 20px;
    margin-left:20px;
    font-size: 16px;
    padding-bottom:10px;
}

.user-prof-ul li:hover{
    border-bottom: 3px solid black;
}

.user-prof-div{
    display: flex;
    background-color: #DAE0E6;
    min-height: 110vh;
    height:100%;
}

.user-card{
    border: 1px solid rgb(189, 188, 188);
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 100%;
    max-height: 35vh;
    margin: 0 auto;
    margin-top:60px;
    width: 25%;
}

.user-card-username{
    background-color: #0179D2;
    width: 100%;
    height: 20%;
    padding-top:3px;
}

.user-card-karma{
    margin-top: 10px;
    font-weight: 600;
}

.u-card-name-text{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.u-card-cake-div{
    margin-top: 10px;
}

.user-bio-label{
    font-weight:600;
    margin-top:10px;
    margin-bottom: -5px;
}

.user-prof-page{
    background-color: #DAE0E6;
    padding-top: 20px;
    min-height:90vh;
    height:100%;
}

.comments-selected{
    border-bottom: 3px solid red;
}

.post-selected{
    border-bottom: 3px solid red;
}
.ov-selected{
    border-bottom: 3px solid red;
}

.bio-edit-div{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.bio-edit-sub-button{
    width: 30%;
}

.bio-edit-btns-div{
    display: flex;
    justify-content: flex-start;
}


@media(max-width:900px){

    .user-card{
        display:none;
    }

    .user-op-side{
        width: 100%;
    }

}